.container-index{
    background: linear-gradient(135deg, rgba(240, 240, 240, 0.8), rgba(247, 247, 247, 0.972));
  backdrop-filter: blur(8px);
}
header{
     position: sticky;
     top: 0;
     z-index: 1;
}
nav{
    background-color: #007BFF;
}
.navbar-nav .nav-link {
  position: relative;
  font-weight: 500;
  color: white;
  margin: 0 10px;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: black;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity:1;
}
}
.clg-img{
    animation: fadeIn 3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}