.container-index{
    background: linear-gradient(135deg, rgba(240, 240, 240, 0.8), rgba(247, 247, 247, 0.972));
  backdrop-filter: blur(8px);
}
header{
     position: sticky;
     top: 0;
     z-index: 1;
}
.navbar-custom {
  background: linear-gradient(to right, #1e3c72, #2a5298); /* Modern blue gradient */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.navbar-custom .nav-link {
  color: #f0f4ff !important; /* Light text */
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #a2c4ff !important;
  transform: translateY(-2px);
}

.navbar-custom .navbar-brand {
  color: #ffffff !important;
  font-weight: bold;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity:1;
}
}
.clg-img{
    animation: fadeIn 3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}